.timestamp-3ZCmNB.timestampInline-yHQ6fX, .content-1o0f9g{
    color: white;
}
.timestamp-3ZCmNB.timestampInline-yHQ6fX {
    &::before{
        content: '-';
        margin-right: 10px;
    }

}
.embedWrapper-lXpS3L.embedFull-2tM8--.embed-IeVjo6.markup-2BOw-j{
    background: var(--background3);
}
.wrapper-35wsBm, .scrollableContainer-2NUZem{
    background: var(--background3);
}
.channelTextArea-rNsIhG{
    background: var(--background3);
}