.accountProfileCard-1XCH88, .profileBannerPreview-3_l0Wd, .item-26Dhrx[aria-checked=true], .connectionHeader-2MDqhu{
    background: var(--background3);
}
.background-1QDuV2, .item-26Dhrx, .fieldList-21DyL8, .accountList-33MS45, .connection-1fbD7X,
 .codeRedemptionRedirect-1wVR4b.card-3Qj_Yx,.preview-2nSL_2, .preview-2Vkbi6, .previewMessage-1ZN7YG{
    background: var(--background2);
}
.item-PXvHYJ.selected-3s45Ha.themed-OHr7kt{
    background: #fff !important;
    color: #000;
    position: relative;
}

/* 
    BD
 */
 .bd-addon-list .bd-addon-card{
    background: var(--background2);
 }
 .bd-addon-list .bd-addon-header{
    background: var(--background3);
 }